/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2014, 11:50:53 PM
    Author     : Alex Nedelcu
*/

/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 @import url(http://fonts.googleapis.com/css?family=Indie+Flower);
 
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
@font-face {
    font-family: handwriting;
    src: url("../fonts/attack of the cucumbers.ttf") format('truetype');
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:Trebuchet MS, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: #ffffff;
}

/* Portrait layout (default) */
.app {
    text-align:center;
}

div.background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
        overflow: scroll;
}
div.background-normal {
	background: url("../img/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
        background-attachment:fixed;
}
div.background-dark {
	background: url("../img/background_dark.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
        background-attachment:fixed;
}
div.background-light {
	background: url("../img/background_light.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
        background-attachment:fixed;
}

.appNameFrontScreen {
    margin-top: 0.7in;
    font-size: 0.5in;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin-bottom: 1.5in;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 0.3in #000, 0 0 0.3in #000, 0 0 0.3in #000;
}
.handwriting {
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    display:block;
}

.event.received {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

div.btnHomePage {
    margin-top : 0.2in;
    padding: 0.1in;
}

tbody.dark-background {
    color: #ffffff;
}
thead.dark-background {
    color: #ffffff;
    font-weight:bold;
}
table.smoothieList {
    margin-top:0.5in;
}

ul.nav-tabs-dark-background {
    margin-top: 0.1in;
    color: #ffffff;
}
ul.nav-tabs-dark-background li {
    color: #ffffff;
}

@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
    color: #ffffff;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
    color: #ffffff;
  }
}

ul.nav-drsmoothie-bg {
    background-image: url("../img/background_tab_inactive.png");
    background-repeat: repeat-x;
    background-size: contain;

    color: #ffffff;
}

div.userInfo {

}

div #username {
    font-size: 0.3in;
    font-family: 'Indie Flower', cursive;
    text-shadow: 0 0 0.1in #000, 0 0 0.1in #000, 0 0 0.1in #000;
    z-index:100;
    position: relative;
}
img.fbProfilePicture {
    border: 5px solid black;
    -webkit-box-shadow: 0px 0px 0.8in 0.2in rgba(0,0,0,0.92);
    -moz-box-shadow: 0px 0px 0.8in 0.2in rgba(0,0,0,0.92);
    box-shadow: 0px 0px 0.8in 0.2in rgba(0,0,0,0.92);
    z-index: 9;
    position: relative;
}